.pagina{left:50%;margin-left:-500px;position:absolute;}
.header{height:72px;background:black url('/web/apps/kaspita/imagenes/logo_header.png');background-repeat:no-repeat;position:relative;
background-position:28px 23px;margin-top:23px;max-width:1000px;
}
.menubase{-webkit-transform:skew(22deg, 0deg);transform: skew(22deg, 0deg);-ms-transform: skew(22deg, 0deg);-webkit-transform: skew(22deg, 0deg); 
-o-transform: skew(22deg, 0deg); -moz-transform: skew(22deg, 0deg);height:72px;width:100%;position:absolute;width:500px;right:14px;
background: rgb(60,60,60); /* Old browsers */
background: -moz-linear-gradient(left, rgba(60,60,60,1) 3%, rgba(55,58,61,1) 34%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(3%,rgba(60,60,60,1)), color-stop(34%,rgba(55,58,61,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(60,60,60,1) 3%,rgba(55,58,61,1) 34%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(60,60,60,1) 3%,rgba(55,58,61,1) 34%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(60,60,60,1) 3%,rgba(55,58,61,1) 34%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(60,60,60,1) 3%,rgba(55,58,61,1) 34%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}		
.menu_principal{height:72px;right: 0;white; position:absolute;}
.menu_principal:hover{background:none:}
.menu_principal .menu_item{display:inline-block;*display: inline; }
.menu_principal .menu_item a{color:#7a7a7a; text-decoration:none; margin-top:25px;display:inline-block;*display: inline; margin-right:37px;}
.menu_principal .menu_item.activo a{color:white;}
.menu_principal .menu_item a:hover{color:white !important;}
.items_wraper{}
.slidesContainer{height: 365px;overflow: hidden;position: relative;display:inline-block;}
.slidesContainer{transition: all 1s;-moz-transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;}
.slider ul{padding:0;margin:0;}
body{background:#dfdfdf;}
.sliderContainer{position: relative;}
.slider {width:1000px;background: #FFF;overflow: hidden;position: relative;
}
.slider .slide{float:left; }
.paginador{position:absolute; bottom:13px; right:10px;}
.paginador a{padding: 12px 7px 12px 7px;text-decoration: none;color:black;font-weight: bold;font-size: 1.2em;}
/*.paginador a:hover{background:white; -webkit-transition:all .3s;}*/
.fondo-paginador, .selectorPagina, .paginaActiva{background:white;position:absolute;bottom:13px;right:10px;opacity:.3;filter: alpha(opacity=30);}
.selectorPagina, .paginaActiva{
transition:background-color 1s, left .5s;-moz-transition: background-color 1s, left .5s;-webkit-transition: background-color 1s, left .5s;-o-transition: background-color 1s, left .5s;
background:transparent;left:900px; bottom:0;opacity:.5;filter: alpha(opacity=50);}

.a-wrap{display:inline-block;}
